h1::before {
  color: var(--darkMaincolor);
  content: "";
}
h2::before {
  color: var(--darkMaincolor);
  content: "";
}
h3::before {
  color: var(--darkMaincolor);
  content: "";
}
h4::before {
  color: var(--darkMaincolor);
  content: "";
}
h5::before {
  color: var(--darkMaincolor);
  content: "";
}
h6::before {
  color: var(--darkMaincolor);
  content: "";
}

h1 {
  font-size: 1.8rem;
  margin-top: 1.5em;
}

h2 {
  font-size: 1.6rem;
  margin-top: 1.5em;
}

h3 {
  font-size: 1.4rem;
  margin-top: 1.5em;
}

h4 {
  font-size: 1.2rem;
  margin-top: 1.5em;
}

:root {
  --mainColor: #ab5b5b;
  --bordercl: #7a2f2f;
}

body {
  --darkMaincolor: var(--mainColor);
}

body.dark {
  --darkMaincolor: var(--mainColor);
}
